
//  Site theme colors
$success: #5cb85c;
$info: #5bc0de;
$danger: #d9534f;
$warning: #F0AD4F;
$general: #4e5d6c;

$white: #fff;
$light-gray: #E4E4E4;
$blue-gray: #2C3146;
$lighter: #E5E5E5;
$faded-purple: #A186A2;
$darker-purple: #36304D;
